{{!-- // Create a button in index.handlebars that will submit the user input into the database. --}}
{{!-- Burgers that are ready to be devoured --}}
<div>
    <h3>Feeling Hungry?</h3>
</div>

{{!-- Burgers that have been devoured --}}
<div>
    <h3>Devoured Burgers:</h3>
</div>