* {
	box-sizing: border-box;
}

.body {
	background-image: url(green.jpg);
}

.allContent {
	margin: 3% 5% 3% 5%;
	font-family: 'Poppins', sans-serif;
}

.jumbotron {
	padding: 5px 5px 5px 5px;
	text-align: center;
}

.trainSchedule, .addTrain {
	border-radius: 5px;
	border: 4px solid #ddd;
	background-color: #f8f9fa;

}

h5, .jumbotron, .btn {
	background-color: #ddd;
	color: #464a4e;
}

h5 {
	padding: 5px;
}

.addTrain {
	margin-top: 25px;
}

.form-group {
	margin-left: 10px;
	margin-right: 10px;
}

.btn {
	margin: 0 0 10px 10px;
}